<h1>Add new friends</h1>

<%=form_for(@req_friend, url: friend_add_path , html: {method: "post"}) do |f|%>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <div class="field">
    <%= f.label :friend_email %><br>
    <%= f.text_field :friend_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 
<% if @req_friend.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @req_friend.errors.full_messages %>
        <li> * <%= message_error %> </li>
      <% end %>
    </ul>
  <% end %>

